/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #423B0B;
    background-color: #F5EAD2;
}
h1{
    font-size: 2rem ;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

p {
     margin: 8px 8px 8px 8px; 
     text-align: justify;
     line-height: 18pt;
}
/* Links
--------------------------------------------- */
a, a:visited{
    text-decoration: none;
}
a:hover,a:focus,a:active{
    text-decoration: underline;
}
/* Header 
--------------------------------------------- */ 
.site-header{
	display: flex;
	justify-content: end;
    background-color: #060606e1;

}
.navigation ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    margin-right: 15px;
}
.navigation ul a {
    color: #F5EAD2; 
}
/* Main
--------------------------------------------- */
.Introduction img{
    display: block;
    margin: 0 auto; 
    max-width: 100%;
    height: auto;
    padding-top: .5rem;
} 
.aboutme{
    padding: 1rem;
}
.aboutme h2{
    text-align: left;
    margin-left: 8px;
}

@media(min-width: 50em){
    .Introduction {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content 1fr;
    }
    .image-container{
        position: relative;
        order: 2;
    }
    .Introduction img{
        position: absolute;
        bottom: 0;
        right: 0;
        display: inline-block;
        margin: 0.5rem;
        padding-top: 1.5rem;
        object-fit: cover;
        width: 85%;
        height: 90%;
    }
    h1{
        font-size: 2.8rem;
    }
}

.project-text{
    text-align: center;
}
.Project{
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    background-color: rgba(6, 6, 6, 0.882) ;
    color: #be6f33;
}
.Project-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    gap: .5rem;

}
.project-link{
    color: #F7EDE2;
}
/* Footer
--------------------------------------------- */

.site-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #060606e1;
    color:#F2EED7 ;
}
.site-footer li{
    display: inline-block;
}
svg{
    fill:white
}
